@using Nexplorer.Domain.Enums
@model HomeViewModel

@{
    ViewBag.Title = $"#{Model.LastBlock.Height}";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div id="heroHeader">
                <h1>NEXPLORER</h1>
                <p class="lead">
                    A cryptocurrency block explorer for <a href="https://nexusearth.com/" target="_blank">Nexus (NXS)<img class="nxs-icon hidden-xs" src="img/nxs-icon.png" alt="Nexus (NXS)" /></a><br />
                    <em>nex·usˈneksəs' : a connection or series of connections linking two or more things.</em>
                </p>
            </div>

            <form id="mainSearch" asp-controller="home" asp-action="search" method="post">
                <div class="form-group">
                    <div id="mainSearchBar">
                        <span class="fa fa-search"></span>
                        <input class="form-control" name="searchTerm" type="text" />
                        <button type="submit" href="#" class="btn btn-flat">
                            Go
                        </button>
                    </div>
                    <span class="instructions">Search for blocks, transactions or addresses</span>
                </div>
            </form>
        </div>
    </div>
}

@{ await Html.RenderPartialAsync("_AdvertBanner"); }

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>LATEST BLOCKS</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-cubes"></span>
                </div>
            </div>

            <block-table ref="blockTable" v-bind:items-per-page="10" v-bind:paging-disabled="true" style="margin-top: 15px;"></block-table>
            <h5 class="text-right">@Html.ActionLink("More info", "index", "blocks")</h5>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>LATEST TRANSACTIONS</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-exchange"></span>
                </div>
            </div>

            <tx-table ref="txTable" v-bind:items-per-page="10" v-bind:paging-disabled="true" style="margin-top: 15px;"></tx-table>
            <h5 class="text-right">@Html.ActionLink("More info", "index", "transactions")</h5>
        </div>
    </div>
</div>

<div class="panel full-length">
    <div class="row visible-xs">
        <div class="col-xs-9">
            <h2>LATEST PRICE</h2>
        </div>
        <div class="col-xs-3 text-right">
            <span class="fa fa-btc"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            <h2>LATEST PRICE</h2>
        </div>
        <div class="col-sm-3">
            <h3>Last</h3>
            <p class="val" v-cloak>
                {{ lastPrice }}
                <span class="fa fa-btc inline-fa"></span>
            </p>
        </div>
        <div class="col-sm-3">
            <h3>Spread</h3>
            <p class="val" v-cloak>
                {{ spread }}
                <span class="fa fa-btc inline-fa"></span>
            </p>
        </div>
        <div class="col-sm-3">
            <h3>Volume</h3>
            <p class="val" v-cloak>
                {{ volume }}
                <span class="fa fa-btc inline-fa"></span>
            </p>
        </div>
        <div class="col-sm-1 text-right hidden-xs">
            <span class="fa fa-btc"></span>
        </div>
    </div>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.HomeViewModel({
            latestBlock: @Json.Serialize(Model.LastBlock),
            primeDiff: @Model.LastPrimeDifficulty,
            posDiff: @Model.LastPosDifficulty,
            hashDiff: @Model.LastHashDifficulty
        });
    </script>
}
