@using System.Globalization
@using Nexplorer.Domain.Enums
@model MiningViewModel

@{
    ViewBag.Title = "Mining";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div class="row">
                <div class="col-sm-5">
                    <div id="heroHeader">
                        <h1>MINING</h1>
                    </div>
                </div>
                <div class="col-sm-7">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>SUPPLY</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-hashtag"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Minute</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.minuteSupply) }}</p>

                    <h3>Day</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.daySupply) }}</p>

                    <h3>Month</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.monthSupply) }}</p>
                </div>
                <div class="col-sm-6">
                    <h3>Hour</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.hourSupply) }}</p>

                    <h3>Week</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.weekSupply) }}</p>

                    <h3>Year</h3>
                    <p class="val">{{ formatFractionNumber(latestSuppyRates.yearSupply) }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>HASH</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-hashtag"></span>
                </div>
            </div>
            <h3>Difficulty</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.hash.difficulty) }} <small>{{ getPercentChange(latestChannelStats.hash.difficulty, 'hash', 'difficulty') }}%</small></p>
            <hash-difficulty-chart :initial-data="getChannelStatInnit('hash', 'difficulty')" :height="chartHeight" :latest="latestChannelStats.hash.difficulty" :delay="updateDelayMs" :show-y="false" :hide-points="true"></hash-difficulty-chart>

            <h3>Reward</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.hash.reward) }} <small>{{ getPercentChange(latestChannelStats.hash.reward, 'hash', 'reward') }}%</small></p>
            <hash-reward-chart :initial-data="getChannelStatInnit('hash', 'reward')" :height="chartHeight" :latest="latestChannelStats.hash.reward" :delay="updateDelayMs" :show-y="false" :hide-points="true"></hash-reward-chart>

            <h3>Hashes GH/s</h3>
            <p class="val">{{ formatFractionNumber(numberToGiga(latestChannelStats.hash.ratePerSecond)) }} <small>{{ getPercentChange(latestChannelStats.hash.ratePerSecond, 'hash', 'ratePerSecond') }}%</small></p>
            <hash-per-sec-chart :initial-data="getChannelStatInnit('hash', 'ratePerSecond')" :height="chartHeight" :latest="numberToGiga(latestChannelStats.hash.ratePerSecond)" :delay="updateDelayMs" :show-y="false" :hide-points="true"></hash-per-sec-chart>
            
            <h3>Reserve</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.hash.reserve) }} <small>{{ getPercentChange(latestChannelStats.hash.reserve, 'hash', 'reserve') }}%</small></p>
            <hash-reserve-chart :initial-data="getChannelStatInnit('hash', 'reserve')" :height="chartHeight" :latest="latestChannelStats.hash.reserve" :delay="updateDelayMs" :show-y="false" :hide-points="true"></hash-reserve-chart>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>PRIME</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-microchip"></span>
                </div>
            </div>
            <h3>Difficulty</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.prime.difficulty) }}<small>{{ getPercentChange(latestChannelStats.prime.difficulty, 'prime', 'difficulty') }}%</small></p>
            <prime-difficulty-chart :initial-data="getChannelStatInnit('prime', 'difficulty')" :height="chartHeight" :latest="latestChannelStats.prime.difficulty" :delay="updateDelayMs" :show-y="false" :hide-points="true"></prime-difficulty-chart>
            
            <h3>Reward</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.prime.reward) }} <small>{{ getPercentChange(latestChannelStats.prime.reward, 'prime', 'reward') }}%</small></p>
            <prime-reward-chart :initial-data="getChannelStatInnit('prime', 'reward')" :height="chartHeight" :latest="latestChannelStats.prime.reward" :delay="updateDelayMs" :show-y="false" :hide-points="true"></prime-reward-chart>
            
            <h3>Primes GP/s</h3>
            <p class="val">{{ formatFractionNumber(numberToGiga(latestChannelStats.prime.ratePerSecond)) }} <small>{{ getPercentChange(latestChannelStats.prime.ratePerSecond, 'prime', 'ratePerSecond') }}%</small></p>
            <prime-per-sec-chart :initial-data="getChannelStatInnit('prime', 'ratePerSecond')" :height="chartHeight" :latest="numberToGiga(latestChannelStats.prime.ratePerSecond)" :delay="updateDelayMs" :show-y="false" :hide-points="true"></prime-per-sec-chart>
            
            <h3>Reserve</h3>
            <p class="val">{{ formatFractionNumber(latestChannelStats.prime.reserve) }} <small>{{ getPercentChange(latestChannelStats.prime.reserve, 'prime', 'reserve') }}%</small></p>
            <prime-reserve-chart :initial-data="getChannelStatInnit('prime', 'reserve')" :height="chartHeight" :latest="latestChannelStats.prime.reserve" :delay="updateDelayMs" :show-y="false" :hide-points="true"></prime-reserve-chart>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="panel">
            <div class="row">
                <div class="col-xs-9">
                    <h2>POS</h2>
                </div>
                <div class="col-xs-3 text-right">
                    <span class="fa fa-bolt"></span>
                </div>
            </div>
            <h3>Difficulty</h3>
            <p class="val"></p>
        </div>
    </div>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.MiningIndexViewModel({
            chartDurationMs: @Model.ChartDurationMs,
            recentChannelStats: @Json.Serialize(Model.ChannelStats),
            latestChannelStats: @Json.Serialize(new
            {
                Hash = Model.ChannelStats[BlockChannels.Hash.ToString().ToLower()].Last(),
                Prime = Model.ChannelStats[BlockChannels.Prime.ToString().ToLower()].Last(),
                PoS = Model.ChannelStats[BlockChannels.PoS.ToString().ToLower()].Last()
            }),
            latestSupplyRates: @Json.Serialize(Model.SuppyRates)
        });
    </script>
}
