@using System.Globalization
@using Nexplorer.Domain.Dtos
@model TransactionItemViewModel
    
@if (Model.ShowHash)
{
    <div class="row">
        <div class="col-xs-8">
            <div class="h5" style="word-wrap: break-word;">
                <a href="/transactions/@Model.Transaction.TransactionHash">@Model.Transaction.TransactionHash</a>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="h5 text-right"><strong>@Model.Transaction.TimeUtc</strong></div>
        </div>
    </div>
}

@if (!Model.Transaction.TransactionInputs.Any() && !Model.Transaction.TransactionOutputs.Any())
{
    <p class="text-center" style="margin-top: 15px;">This appears to be a proof of stake transaction. No data is currently availible for these transactions.</p>
}
else
{
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-center">In</h6>
            @if (!Model.Transaction.TransactionInputs.Any())
            {
                <p class="h6 text-center" style="margin-top: 15px;">There don't appear to be any input transactions.</p>
            }
            else
            {
                foreach (var tx in Model.Transaction.TransactionInputs)
                 {
                     <div class="row">
                         <div class="col-xs-7 col-sm-9">
                             <div class="h6" style="word-wrap: break-word;">
                                 <a href="/addresses/@tx.AddressHash">@tx.AddressHash</a>
                             </div>
                         </div>
                         <div class="col-xs-5 col-sm-3">
                             <div class="h6 text-right">@tx.Amount.ToString("N6", CultureInfo.InvariantCulture) <span style="font-size: 10px;">NXS</span></div>
                         </div>
                     </div>
                 }
            }
        </div>

        <div class="col-sm-6">
            <h6 class="text-center">Out</h6>
            @if (!Model.Transaction.TransactionOutputs.Any())
            {
                <p class="h6 text-center" style="margin-top: 15px;">There don't appear to be any input transactions.</p>
            }
            else
            {
                foreach (var tx in Model.Transaction.TransactionOutputs)
                 {
                     <div class="row">
                         <div class="col-xs-7 col-sm-9">
                             <div class="h6" style="word-wrap: break-word;">
                                 <a href="/addresses/@tx.AddressHash">@tx.AddressHash</a>
                             </div>
                         </div>
                         <div class="col-xs-5 col-sm-3">
                             <div class="h6 text-right">@tx.Amount.ToString("N6", CultureInfo.InvariantCulture) <span style="font-size: 10px;">NXS</span></div>
                         </div>
                     </div>
                 }
            }
        </div>
    </div>

    <div class="row" style="margin-bottom: 15px;">
        <div class="col-xs-6 col-sm-offset-6 col-sm-3">
            <h5><strong>Total</strong></h5>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="h5 text-right"><strong>@Model.Transaction.Amount.ToString("N6", CultureInfo.InvariantCulture) <span style="font-size: 10px;">NXS</span></strong></div>
        </div>
    </div>
}