@using System.Globalization
@model NetworkViewModel

@{
    ViewBag.Title = "Network";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

<div class="container-fluid">
    <h1>Network</h1>

    <h3>@Model.PeerInfoDtos.Count Connections</h3>
    <div class="row" style="margin-bottom: 30px;">
        <div class="col-sm-6 col-sm-push-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div id="peerInfo" v-if="peerInfo.address">
                <a href="#" v-on:click.prevent="peerInfoBack">< Back</a>
                <div class="row">
                    <div class="col-xs-3">
                        <h5>Address</h5>
                    </div>
                    <div class="col-xs-9">
                        <div class="h5 text-right">{{ peerInfo.address }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <h5>Chain Height</h5>
                    </div>
                    <div class="col-xs-9">
                        <div class="h5 text-right">{{ peerInfo.chainHeight.toLocaleString() }}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3">
                        <h5>Location</h5>
                    </div>
                    <div class="col-xs-9">
                        <div class="h5 text-right">{{ peerInfo.location }}</div>
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-xs-3">
                            <h5>Last Received</h5>
                        </div>
                        <div class="col-xs-9">
                            <div class="h5 text-right">@infoDto.LastReceiveTime.ToString(CultureInfo.InvariantCulture)</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <h5>Version</h5>
                        </div>
                        <div class="col-xs-9">
                            <div class="h5 text-right">@infoDto.VersionInfo</div>
                        </div>
                    </div>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
    var vm = new nexplorer.NetworkIndexViewModel({
        peerGeolocations: @Json.Serialize(Model.PeerInfoDtos.Select(x => new
                            {
                                address = x.Address,
                                chainHeight = x.ChainHeight,
                                location = $"{x.Geolocation.City}, {x.Geolocation.CountryName}",
                                position = new
                                {
                                    lat = x.Geolocation.Latitude,
                                    lng = x.Geolocation.Longitude
                                }
                            }))
    });
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyrJUzmBlu2KCOOgI1OsoWK2jJYhQCcR4&callback=vm.initMap"></script>
}
