@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using Nexplorer.Domain.Entity.Blockchain
@using Nexplorer.Web.Extensions
@model TransactionViewModel

@{
    ViewBag.Title = "Transaction";
    Layout = "_Layout";
}

@section Head {
    <link rel="stylesheet" href="@ViewBag.ControllerCss" />
}

@section Header {
    <div id="hero" class="jumbotron jumbotron-fluid"></div>
    <div id="heroText" class="jumbotron jumbotron-fluid">
        <div class="container-fluid max-width">
            <div id="heroHeader">
                <h1>
                    TRANSACTION
                    <span class="block-number" style="display: block">
                        @Model.Transaction.Amount.ToString("N2", CultureInfo.InvariantCulture)
                    <span style="font-size: 15px;">NXS</span>
                </span>
                </h1>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-6">
        <div class="panel">
            <div class="row">
                <div class="col-9">
                    <h2>CONTENTS</h2>
                </div>
                <div class="col-3 text-right">
                    <span class="fa fa-cube"></span>
                </div>
            </div>
            <h3>Transaction Type</h3>
            <p class="val">@(Model.Transaction.TransactionType.GetAttribute<DisplayAttribute>().Name)</p>
            <h3>Inputs</h3>
            <p class="val">@Model.Transaction.Inputs.Count.ToString("N0", CultureInfo.InvariantCulture)</p>
            <h3>Outputs</h3>
            <p class="val">@Model.Transaction.Outputs.Count.ToString("N0", CultureInfo.InvariantCulture)</p>
        </div>
    </div>
    
    <div class="col-sm-6">
        <div class="panel">
            <div class="row">
                <div class="col-9">
                    <h2>CHAIN</h2>
                </div>
                <div class="col-3 text-right">
                    <span class="fa fa-link"></span>
                </div>
            </div>
            <h3>Confirmations</h3>
            <p class="val" v-cloak>{{ confirmationText }}</p>
            <h3>Height</h3>
            <p class="val"><a href="/blocks/@Model.Transaction.BlockHeight">@Model.Transaction.BlockHeight.ToString("N0", CultureInfo.InvariantCulture)</a></p>
            <h3>UTC Time</h3>
            <p class="val">@Model.Transaction.Timestamp</p>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_AdvertBanner"); }

<div class="row">
    <div class="col-12">
        <div class="panel">
            <div class="row">
                <div class="col-9">
                    <h2>HASHES</h2>
                </div>
                <div class="col-3 text-right">
                    <span class="fa fa-hashtag"></span>
                </div>
            </div>
            <h3>Transaction</h3>
            <p class="val" style="word-wrap: break-word; font-size: 14px; margin: 3px 0 8px 0">@Model.Transaction.Hash</p>
            <h3>Block</h3>
            <p class="val" style="word-wrap: break-word; font-size: 14px; margin-top: 3px;">@Model.BlockHash</p>
        </div>
    </div>
</div>

<div class="panel">
    <div class="row">
        <div class="col-9">
            <h2>INPUTS (@Model.Transaction.Inputs.Count.ToString("N0"))</h2>
        </div>
        <div class="col-3 text-right">
            <span class="fa fa-exchange"></span>
        </div>
    </div>

    @if (Model.Transaction.Inputs.Any())
    {
        <tx-table-inputs ref="txTableInputs"
                         :columns="columns"
                         :options="inputDtOptions"></tx-table-inputs>
    }
    else
    {
        <div class="text-center">
            There are no inputs in this transaction
        </div>
    }
</div>

<div class="panel">
    <div class="row">
        <div class="col-9">
            <h2>OUTPUTS (@Model.Transaction.Outputs.Count.ToString("N0"))</h2>
        </div>
        <div class="col-3 text-right">
            <span class="fa fa-exchange"></span>
        </div>
    </div>
            
    <tx-table-outputs ref="txTableOutputs"
                      :columns="columns"
                      :options="outputDtOptions"></tx-table-outputs>
</div>

@section Scripts {
    <script language="javascript" src="@ViewBag.ControllerJs"></script>
    <script language="javascript">
        var vm = new nexplorer.TransactionViewModel({
            confirmations: @Model.Transaction.Confirmations,
            inputs: @Json.Serialize(Model.Transaction.Inputs),
            outputs: @Json.Serialize(Model.Transaction.Outputs)
        });
    </script>
}